#login_aluno{
    color: #DF4A19
}

.login-container {
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}
/* 
.login-container h3 {
    color: #333;
    font-weight: 700;
    margin-bottom: 1.5rem;
} */

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.bg-custom-1{
    background: #DF4A19;    
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #DF4A19;
    margin-left: 90px;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #E95420;
    background-color: #fff;
    margin-left: 90px;
}
.login-form-2 .ForgetPwd{
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 100px;
    text-decoration: underline;
}
.login-form-1 .ForgetPwd{
    color: #E95420;
    font-weight: 600;
    text-decoration: none;
    margin-left: 100px;
    text-decoration: underline;
}
