

  
      <!-- Main Section -->
      <div class="col-md-9">
        <!-- Perfil Section -->
        <section id="perfil" class="mb-5">
          <h4 class="text-primary">Perfil</h4>
          <p id="txtNome"></p>
          <p id="txtEmail"></p>
          <p id="txtTelefone"></p>
        </section>

        <!-- Notas Section -->
        <!-- <section id="notas" class="mb-5">
          <h4 class="text-primary">Notas</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Matéria</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Média</th>
              </tr>
            </thead>
          </table>
        </section>

        Aulas Section
        <section id="aulas" class="mb-5">
          <h4 class="text-primary">Aulas</h4>
          <p>As próximas aulas estão disponíveis no portal do aluno.</p>
        </section>

        Calendário Section
        <section id="calendario">
          <h4 class="text-primary">Calendário</h4>
          <p>Visualize os eventos da sua escola aqui.</p>
        </section> -->

      </div>
    </div>
  </div>
  <!-- Content End -->
