

  <!-- Header Start -->
  <div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center py-5">
      <h3 class="display-3 font-weight-bold text-white">Sobre a Toth</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0"><a class="text-white" href="/">Inicio</a></p>
        <p class="m-0 px-2">/</p>
        <p class="m-0">Sobre Nós</p>
      </div>
    </div>
  </div>
  <!-- Header End -->

  <div class="container my-5">
    <div class="row">
        <!-- History Section -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2 class="card-title">
                        <img src="/img/historia.png" alt="História" class="img-fluid" width="40"> Nossa História
                    </h2>
                    <p class="card-text"> O colégio Toth foi fundado no ano de 2020 por três irmãos, Amunhotep Khafre, Nefertari Khafre
                      e Ptahmose Khafre.</p>
          
                    <p class="card-text"> Filhos de imigrantes originalmente do Egito, levaram consigo a cultura egípcia para os
                      Estados Unidos e vivenciaram a real situação de aperto e dificuldade das imigrações.</p>
          
                    <p class="card-text"> Com todas as dificuldades que passaram na infância e adolescência, os irmãos tiveram a ideia
                      de fundar uma escola com um método de ensino voltado para a inclusão e acessibilidade de todos.</p>
                </div>
            </div>
        </div>
        <!-- Mission Section -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2 class="card-title">
                        <img src="/img/alvo.png" alt="Missão" class="img-fluid" width="40"> Missão
                    </h2>
                    <p class="card-text">A Toth Academy tem como missão cultivar o conhecimento em um ambiente diversificado e
                      dinâmico,
                      onde cada aluno é incentivado a explorar sua curiosidade e criatividade.</p>
          
                    <p class="card-text">Buscamos não apenas transmitir informações, mas também instigar o pensamento crítico e a
                      resolução de problemas, preparando os alunos para os desafios do mundo moderno.</p>
          
                    <p class="card-text">Através de um sistema de ensino adaptativo e inovador, procuramos desenvolver habilidades e
                      competências em todas as áreas do conhecimento, capacitando os indivíduos a se destacarem em suas
                      respectivas esferas de atuação.</p>
          
                    <p class="card-text">Na Toth Academy, acreditamos que a educação é a chave para o progresso e a transformação, e
                      estamos comprometidos em proporcionar uma experiência educacional que inspire, desafie e capacite cada aluno
                      a alcançar seu pleno potencial.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Vision Section -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2 class="card-title">
                        <img src="/img/pensando.png" alt="Visão" class="img-fluid" width="40"> Visão
                    </h2>
                    <p class="card-text">Na Toth Academy, buscamos ser uma referência no âmbito da educação, não apenas pela excelência
                      e competência dos nossos serviços, mas também pelo nosso compromisso inabalável com a inclusão e o respeito
                      à diversidade.</p>
          
                    <p class="card-text"> Acreditamos que a verdadeira proeminência vai além do sucesso acadêmico; ela se manifesta na
                      capacidade de criar um ambiente onde todos os alunos se sintam valorizados, respeitados e capacitados a
                      atingir seu pleno potencial.</p>
          
                    <p class="card-text"> Nossa abordagem é centrada no aluno, priorizando o desenvolvimento não apenas de suas
                      habilidades acadêmicas, mas também de suas habilidades sociais e emocionais.</p>
          
                    <p class="card-text">A Toth Academy, trata cada um de seus alunos como um um indivíduo único, 
                      com suas próprias necessidades e talentos, e nosso compromisso é fornecer o suporte 
                      e os recursos necessários para que cada um floresça e alcance o sucesso em sua jornada educacional.</p>
                </div>
            </div>
        </div>
        <!-- Values Section -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2 class="card-title">
                        <img src="/img/balancas.png" alt="Valores" class="img-fluid" width="40"> Valores
                    </h2>
                    <p class="card-text">Nossa abordagem é pautada na busca pela excelência, cultivando um ambiente inclusivo e ético,
                      garantindo igualdade de oportunidades para todos. Promovemos a conscientização sobre a preservação do meio
                      ambiente e o desenvolvimento de práticas sustentáveis.</p>
          
                    <p class="card-text"> Fomentamos um ambiente que estimule a busca pelo conhecimento e o desenvolvimento do
                      pensamento crítico, adaptando-nos continuamente às necessidades individuais dos alunos e às mudanças no
                      ambiente educacional.</p>
          
                    <p class="card-text"> Oferecemos programas e métodos de ensino flexíveis e inovadores. Esses compromissos
                      fundamentam nossa missão de proporcionar uma educação de qualidade que prepare os alunos para enfrentar os
                      desafios do século XXI e se tornarem cidadãos globais responsáveis e compassivos.</p>
                </div>
            </div>
        </div>
    </div>
  </div>

  