
<script src="/js/validacao.js"></script>
<script src="/js/disciplina/cadastro.js"></script>

    <input type="hidden" value="<%= disciplina_para_alterar%>" id="hidden_disciplina"> 
    <%if (typeof disciplina_para_alterar == "undefined") {%>
        <!-- Main Section -->
        <div class="col-md-9">
            <!-- Formulário de Lançamento -->
            <section id="form_notas" class="mb-5">
                <h4 class="text-primary">Cadastrar Disciplina</h4>
                
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control" id="txtNome" placeholder="Matematica" required>
                        <label for="txtNome" class="form-label">Nome * </label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <input type="number" class="form-control" id="txtCargaHoraria" placeholder="50" required>
                        <label for="txtCargaHoraria" class="form-label">Carga Horaria * </label>
                    </div>
                </div>
                <button type="submit" class=" btn btn-primary" id="btn_cadastro">Finalizar cadastro</button>
                <a href="/disciplina" class="btn btn-dark">Retornar</a>
            
            </section>
        </div> 

    <%} else{%>

        <!-- Main Section -->
        <div class="col-md-9">
            <!-- Formulário de Lançamento -->
            <section id="form_notas" class="mb-5">
                <h4 class="text-primary">Editar Disciplina</h4>
                
                <input type="hidden" value="<%= disciplina_para_alterar.id%>" id="hidden_id">

                <div class="row">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" id="txtNome" placeholder="Matematica" value="<%= disciplina_para_alterar.nome%>" required>
                            <label for="txtNome" class="form-label">Nome * </label>
                        </div>
                        <div class="col-md-3 mb-3">
                            <input type="number" class="form-control" id="txtCargaHoraria" placeholder="50" value="<%= disciplina_para_alterar.carga_horaria%>" required>
                            <label for="txtCargaHoraria" class="form-label">Carga Horaria * </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class=" btn btn-primary" id="btn_atualizar">Finalizar Edição</button>
                <a href="/disciplina" class="btn btn-dark">Retornar</a>
            
            </section>
        </div> 
    <%}%>
